@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Light_gray: hsl(212, 45%, 89%);
  --Grayish_blue: hsl(220, 15%, 55%);
  --Dark_blue: hsl(218, 44%, 22%);
  --border_radius: 5%;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}
body {
  background: var(--Light_gray);
  display: flex;
  justify-content: center;
}
.card {
  border-radius: var(--border_radius);
  background: var(--White);
  padding: 15px;
  margin-top: 20vh;
  max-width: 320px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}
.card img {
  max-width: 100%;
  border-radius: var(--border_radius);
}
.content {
  color: var(--Dark_blue);
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.header {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}
.description {
  font-weight: 400;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: var(--Grayish_blue);
}
